node_modules
.next
.cache
.env.local
.env*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
*.pem
out
build
coverage
.vscode
.idea
*.log
test-results
playwright-report
playwright/.cache